<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
</head>
<body>
    <h1>Appointment List</h1>
    <h2>All Appointments Below</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Name</th>
                <th>Tel</th>
                <th>Appointment Time</th>
                <th>Vehicle Request</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${appointmentList}">
                <td th:text="${appointment.id}"></td><td th:text="${appointment.date}"></td><td th:text="${appointment.name}"></td><td th:text="${appointment.number}"></td><td th:text="${appointment.appointmentTime}"></td><td th:text="${appointment.vehicleRequest}"></td><td th:text="${appointment.status}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>