<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
</head>
<body>
    <h1>Edit The Appointment You Want!</h1>
    <div>
        <button type="reset">Edit</button>
    </div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Name</th>
            <th>Tel</th>
            <th>Appointment Time</th>
            <th>Vehicle Request</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="appointment : ${appointmentEdit}">
            <td th:text="${appointment.id}"></td><td th:text="${appointment.date}"></td><td th:text="${appointment.name}"></td><td th:text="${appointment.number}"></td><td th:text="${appointment.appointmentTime}"></td><td th:text="${appointment.vehicleRequest}"></td><td th:text="${appointment.status}"></td>
        </tr>
    </tbody>
</table>
<div>
    <button type="submit">Confirm</button>
</div>
</body>


</html>