<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Appointment</title>
</head>
<body>
    <h1>Appointment Operation</h1>
    <h2>Welcome!Administrator <span th:text="${username}"></span>!</h2>
    <div><a th:href="@{/Appointment/list}">[Appointment List]</a></div>
    <div><a th:href="@{/Appointment/add}">[Add Appointment]</a></div>
    <div><a th:href="@{/Appointment/edit}">[Edit Appointment]</a></div>
</body>
</html>